header{
  height: 60px;
}

.chat-profile{
  height:100px !important;
  width: 100px !important;
}
.chat-profile  img{
  object-fit:contain;
  height:63px !important;
  width: 63px !important;
  border-radius: 50% !important; 
}

.chat-height{
height: 100px;
width: 100%;
}

footer{
  height: 55px;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: medium;
position: fixed;
bottom: 0px;
}

.footer-text{
  height: 30px;
  width: 60px;
  
  border-radius: 9px;
}

.single-message{
  width: 70%;
  background-color: green;
}

.online::before{
  position: absolute;
  display: block;
  content: '';
  height: 15px;
  width: 15px;
  background-color: rgb(3, 171, 3);
  border-radius: 50%;
  z-index: 10;
  transform: translate(45px,4px);
  
  }







  .myStatus{
    object-fit: cover;
    border-radius: 50%;

  }
  .video{
    object-fit: cover;
   

  }

  .isStatus{
    border: 3px solid rgba(240, 120, 7, 0.634);
  }
  .isViewedStatus{
    border: 3px solid rgba(137, 136, 135, 0.634);
  }

.viewCounter{
  position: absolute;
  bottom: 0;
  background-color: rgba(200, 187, 187, 0.237);
  z-index: 10;
  width: 100%;
  height: 70px; 
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(20px);
}

.sendMessage{
  position: absolute;
  transform: translate(190px);
}

.dropdownContainer{
  height: fit-content;
  width: 100px;
  background: red;
  position: absolute;top: 0px;
  left: -120px;
}

/* 
///////// */
.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.inner-div {
  position: absolute;
  bottom: 0; 
  width: 100%;
  height: 50%; 
  background-color: rgb(55, 61, 57); 
  transition: bottom 0.6s ease-in-out;
 }
 
.closeDiv {
  overflow: hidden;
  background-color: rgb(51, 45, 45); 
  transition:  0.4s ease-in-out;
 }
 
/* .inner-div.show {
  bottom: 0;
} */


.request::after{
  height: 10px;
  width:  10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  content: '';
  transform: translate(-28px,-4px);
}

.AddStatusPlus{
  position: fixed;
  transform: translate(310px,-160px);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: rgb(0, 255, 213);
  display: flex;
  justify-content: center;
  align-items: center;
  
}